#sign-in-button {
    margin-top: 70px;
}

#sign-up-button {
    margin-top: 160px;
}

input#create-post-button {
    margin-bottom: 100px;
}

body {
    background-image: url("bubbles.jpg");
    padding-bottom: 68px;
    background-repeat: repeat;
}

.uk-navbar-container {
    margin-bottom: 30px;
}

.uk-logo {
    text-transform: uppercase;
}