h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2,
h3 {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: url("https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    opacity: 0.75;
}

div {
    background-color: gray;
    opacity: 0.75;
}

#bearPic {
    height: 25%;
    width: 25%;
    float: left;
    opacity: 100%;
}

#box1,
#box2 {
    max-width: 300px;
    float: right;
}