h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2 {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: url("https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    opacity: 0.75;
}

div {
    background-color: gray;
    opacity: 0.75;
}

.assignBody {
    background: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/19225525_1386650188069841_3093724628678236927_n.jpg?_nc_cat=0&oh=99d91432eca6b5f6988a58a7e5458ef7&oe=5B4F9288")
}