.button {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    cursor: pointer;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2 {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: url("https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    opacity: 0.75;
}

div {
    background-color: gray;
    opacity: 0.75;
}

.img {
    height: 25%;
    width: 25%;
    z-index: 1;
}

.daysToBday {
    background-color: gray;
    opacity: 0.75;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}